<!doctype html>
<html lang="en">

<head>
   <title>Lovely Shop</title>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <style>
      body {
         padding-top: 56px;
      }
   </style>
</head>

<body>

   <!-- Navigation -->
   <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
         <a class="navbar-brand" th:href="@{/}">Lovely Shop</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
               <li class="nav-item">
                  <a class="nav-link" th:href="@{/}">Home
                     <span class="sr-only">(current)</span>
                  </a>
               </li>
               <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" th:href="@{/productList}">Product List</a>
               </li>
               <li class="nav-item active">
                  <a class="nav-link js-scroll-trigger" th:href="@{/shoppingCart}">My Cart</a>
               </li>
               <th:block sec:authorize="hasAnyRole('ROLE_MANAGER','ROLE_EMPLOYEE')">
                  <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" th:href="@{/admin/orderList}">Order List</a>
                  </li>
               </th:block>
               <th:block sec:authorize="hasRole('ROLE_MANAGER')">
                  <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" th:href="@{/admin/product}">Create Product</a>
                  </li>
               </th:block>
               <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false" th:utext="${#request.userPrincipal.name}">
                     Dropdown
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                     <a class="dropdown-item" href="#" th:href="@{/admin/accountInfo}">Account Information</a>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" href="#" th:href="@{/admin/logout}">Logout</a>
                  </div>
               </li>

               <th:block sec:authorize="!isAuthenticated()">
                  <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" th:href="@{/admin/login}">Login</a>
                  </li>
               </th:block>
            </ul>
         </div>
      </div>
   </nav>

      <!-- Page Content -->
      <div class="container">
         <!-- Page Heading -->
            <h1 class="my-4">Enter Customer Information
               <!-- <small>Secondary Text</small> -->
            </h1>

            <form method="POST" th:object = "${customerForm}" th:action="@{/shoppingCartCustomer}">
               <div class="form-group">
                  <label for="name">Name<span class="text-danger">*</span></label>
                  <input type="text" th:field="*{name}" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter name">
                  <small id="nameHelp" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="form-text text-danger">We'll never share your email with anyone else.</small>
                </div>
               <div class="form-group">
                  <label for="exampleInputEmail1">Email address<span class="text-danger">*</span></label>
                  <input type="email" th:field="*{email}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                  <small id="emailHelp" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="form-text text-danger">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="phone">Phone<span class="text-danger">*</span></label>
                  <input type="text" th:field="*{phone}" class="form-control" id="phone" aria-describedby="emailHelp" placeholder="Enter phone">
                  <small id="phoneHelp" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="form-text text-danger">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="address">Address<span class="text-danger">*</span></label>
                  <input type="text" th:field="*{address}" class="form-control" id="address" aria-describedby="emailHelp" placeholder="Enter address">
                  <small id="addressHelp" th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="form-text text-danger">We'll never share your email with anyone else.</small>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
                <a class="btn btn-primary text-light" th:href="@{/shoppingCart}">Back My Cart</a>
            </form>
       </div>
       <!-- /.container -->

   <!-- Optional JavaScript -->
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
</body>

</html>